
.editor_copyrow {
    width: 100%;
    height: 0;
    position: relative;
}

.editor_copy {
    position: absolute;
    bottom: 0;
    right: 0;
}

.editor_code {
    font-family: Consolas, Menlo, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
}

.editor_pre {
    width: 100%;
    height: 10rem;
    padding: 0.3rem 0.6rem;
    color: #ddd;
    background-color: #222;
    overflow: auto;
    font: inherit;
    resize: vertical;
}

.editor_textarea {
    width: 100%;
    height: 10rem;
    padding: 0.3rem 0.4rem;
    font: inherit;
    resize: vertical;
}

.editor_settings {
    margin: 0 1rem 0.5rem;
}

.editor_option {
    margin: 0.1rem 0;
}

.editor_option>label {
    display: inline-flex;
    align-items: center;
    min-width: 50%;
    white-space: nowrap;
}

.editor_option>label::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    margin: 0 0.2rem;
    background-color: black;
}

.editor_option>select {
    width: 40%;
}


.CodeMirror {
    width: 100%;
    height: 30rem;
    font-family: inherit;
    resize: vertical;
}
